<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Profile | <%= dataUserProfile.Profile.fullName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('_navbarhomepage') %>

    <div class="form-login">
      <h1>Edit Your Profile</h1>
      <div class="error-alert-register"></div>

      <div>
        <form action="/profile/edit" method="post" enctype="multipart/form-data">
          <label>Full Name</label><br />
          <input type="text" name="fullName" value="<%= dataUserProfile.Profile.fullName %>" /><br />

          <label>Phone Number</label><br />
          <input type="text" name="phoneNumber" value="<%= dataUserProfile.Profile.phoneNumber %>" /><br />

          <label>Address</label><br />
          <input type="text" name="address" value="<%= dataUserProfile.Profile.address %>" /><br />

          <label>Upload Profile Picture</label><br />
          <input type="file" name="profileImage" accept="image/*" required />
          <br />

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
