<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CircleKita</title>
    <link rel="stylesheet" href="/style.css" />
    <%- include('_fonts') %>
  </head>
  <body>
    <%- include('_navbarhomepage') %>

    <div class="post-form">
      <form method="post">
        <div class="user-info">
          <img class="profile-pic" src="/assets/user.png" alt="" />
          <span class="username"><%= user.username %></span>
        </div>
        <input type="text" name="title" placeholder="Title">
        <textarea name="content" placeholder="What's happening?"></textarea>
        <input type="file" name="image" />
        <input type="submit" value="Post" />
      </form>
    </div>

    <div class="feed">


      </div>

      <% dataPosts.forEach(element => { %>
        <div class="feed-posts">
          <div class="post-desc">
            <img class="profile-pic" src="/assets/user.png" alt="" />
            <p class="post-name"><%= element.User.username %></p>
            <p class="post-date"><%= element.createdAt %></p></p>
          </div>
          <div class="post-content">
            <h2><%= element.title %></h2>
            <p>
              <%= element.content %>
            </p>
            <img src="" alt="" class="post-img" />

            <div class="post-footer">
              <button class="like-button">
                  <img src="path/to/like-icon.png" alt="Like" class="likes-logo" />
              </button>
              <p class="post-likes" id="post-likes"><%= element.likes %></p>
          </div>
            
          </div>
        </div>
        <% }) %>
    </div>



    </div>

  </body>
</html>
