<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CircleKita</title>
    <link rel="stylesheet" href="/style.css" />
    <%- include('_fonts') %>
  </head>
  <body>
    <%- include('_navbarhomepage') %>

    <form action="" method="POST" enctype="multipart/form-data">
    <div class="post-form">
        
      <form method="post">
        <div class="user-info">
          <img class="profile-pic" <%- !user.Profile || !user.Profile.profilePicture ? 'src="/assets/empty-profile.png"' : `src="/profilePicture/${user.Profile.profilePicture}"` %> alt="" />
          <span class="username"><%= user.username %></span>
        </div>
        <input type="text" name="title" placeholder="Title">

        <% if (error) { %> <% const errorSplit = error.split(",") %>
        <div class="alert-message">
            <p>
          <%= errorSplit.find((el)=> el.includes('Title')) %>
        </p>
        </div>
        <% } %>

        <textarea name="content" placeholder="What's happening?"></textarea>
        

        <% if (error) { %> <% const errorSplit = error.split(",") %>
        <div class="alert-message">
            <p>
          <%= errorSplit.find((el)=> el.includes('Content')) %>
        </p>
        </div>
        <% } %>

        <label for="filePosts">Post File</label>
        <input type="file" name="filePosts" accept="image/*"/><br>

        <label for="tags">Tags:</label><br>
        <input type="text" id="tags" name="tags" placeholder="Enter tags separated by commas"><br>

        <input type="submit" value="Post" />
      </form>
    </div>
  </form>

    <div class="feed">


      </div>

      <% dataPosts.forEach(element => { %>
        <div class="feed-posts">
          <div class="post-desc">
            <img class="profile-pic" <%- !element.User.Profile || !element.User.Profile.profilePicture ? 'src="/assets/empty-profile.png"' : `src="/profilePicture/${element.User.Profile.profilePicture}"` %> alt="" />
            <p class="post-name"><a href="/profile/<%= element.User.username  %>"><%= element.User.username %></a></p>
            <p class="post-date"><%= `${formatTime(element.createdAt)} (${element.timeSincePosted})` %></p></p>



            <% if (user.role == 'admin' || element.User.id == user.id) { %>
            <a href="homepage/deletePost/<%= element.id %>"  class="delete-button">Delete</a>
            <% } %>
 
          </div>
          <div class="post-content">
            <h2><%= element.title %></h2>
            <p>
              <%= element.content %>
            </p>
            <img src="/file-posts/<%= element.filePosts %>" alt="" class="post-img" />
            
            
              <% if (element.Tags || element.Tags.length !== 0) { %>
               <div class="tags-container">
                
                <% element.Tags.forEach(tag => { %>
                  <span class="tag"><%= tag.name %></span>
                <% }) %>
              </div>

              <% } %>

              
              

            <div class="post-footer">
              <a class="like-button" href="/homepage/like/<%= element.id %>">
                  <img src="/assets/like.png" alt="Like" class="likes-logo"/>
              </a>
              <p class="post-likes" id="post-likes"><%= element.likes %></p>
          </div>
            
          </div>
        </div>
        <% }) %>
    </div>
    



    </div>

  </body>
</html>
