<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= `${dataUser.Profile.fullName}'s Profile` %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include('_navbarhomepage') %>

    <div class="profile-header">

        <div class="profile-img">
 <img
        src="/profilePicture/<%= dataUser.Profile.profilePicture %>"
        alt=""
      />

        </div><br>
     

      <div class="profile-desc">
<p class="profile-fullname"><%= dataUser.Profile.fullName %></p>
      <p class="profile-username"><span style="font-weight: bold;">Username: </span><%= dataUser.username %></p>
      <p class="profile-createdDate"> <span style="font-weight: bold;">Joined at: </span>  <%= formatTime(dataUser.createdAt) %></p>
      <p class="profile-address"><span style="font-weight: bold;">Address: </span><%= dataUser.Profile.address %></p>
      <p class="profile-phoneNumber"><span style="font-weight: bold;">Phone Number: </span><%= dataUser.Profile.phoneNumber %></p>
      </div>
      
    </div>


    <div>
        <h1 style="text-align: center;"><%= `${dataUser.Profile.fullName}'s Posts` %></h1>
    </div>


<% dataUser.Posts.forEach(element => { %>
    <div class="profile-post">
            <div class="feed-posts">
              <div class="post-desc">
                <img class="profile-pic" src="/profilePicture/<%= dataUser.Profile.profilePicture %>" alt="" />
                <p class="post-name"><%= dataUser.username %></p>
                <p class="post-date"><%= `${formatTime(element.createdAt)} (${element.timeSincePosted})` %></p></p>
              </div>
              <div class="post-content">
                <h2><%= element.title %></h2>
                <p><%= element.content %></p>
                <img src="/file-posts/<%= element.filePosts %>" alt="" class="post-img" />
                <!-- <img src="file-posts/filePosts-1708594674667.png" alt="" class="post-img" /> -->
    
                <div class="post-footer">
                    <a class="like-button" href="/homepage/like/<%= element.id %>">
                        <img src="/assets/like.png" alt="Like" class="likes-logo"/>
                    </a>
                    <p class="post-likes" id="post-likes"><%= element.likes %></p>
              </div>
                
              </div>
            </div>
        </div>
    
<% }) %>
 



    </div>
  </body>
</html>
